body{
    margin:0px;
    font-family: 'Lato', sans-serif;
}



#home:after {
    content: "" ;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#home {
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.home-navbar{
    padding-bottom: 40px 0px;
    position: relative;
    z-index: 2;
    font-family: inherit
}

.home-navbar-nav{
    font-family: inherit
}
.home-navbar-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: inherit
}

.home-navbar-nav ul li a {
    color:rgba(255, 255, 255, 0.71) ;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0px 10px ;
    font-family: inherit
}
.home-navbar-brand{
    font-family: inherit
}
.home-navbar-brand ul {
    text-decoration: none ;
    list-style-type: none;
}

.home-navbar-brand ul li a {
    color:rgba(255, 255, 255, 0.71) ;
    text-decoration: none;
    text-transform: capitalize;
    font-family: inherit
}

/* Home slider style */

.home-slider{
    height: 871px ;
}

.home-slider-item{
    border : 1px solid rgba(82, 100, 101, 1 ) ; 
    height: calc(100% + 37px);
    position: relative;
    z-index: 4 ;
}

.home-slider-item-control  {
    width:20px;
    height: 20px;
    position: absolute ;
    bottom: 20px;
    left:50% ; 
    z-index: 4;
}

.home-slider-item-control a {
    color:white;
    text-decoration: none;
}
.home-slider-item-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-slider-item-content h1{
    color:white;
    font-size: 2.6em ;
    padding:13px 13px;
    margin: 0px ;
}


.home-slider-item-content p{
    color: rgba(82, 100, 101, 0.708);
    font-size: 1.45em ;
    margin: 0px ;
}

.home-slider-item-content img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;

}

/* Home slider style  end*/

/* About me  style */
#about{
    padding:90px 0px 75px;
    font-family: 'Lato', sans-serif;
    color:black;
    background-color: white;
    line-height: 26px ;
}

.text-aboutme{
    color:rgb(65, 49, 49);
    margin: 0px;
}

.text-aboutme h2{
    font-size: 2.7em;
    margin-bottom: 20px;
    color: #131313;
    margin: 0px 0px 20px;
    margin-top: 0px ;
    font: 42px Arial;
    line-height: 1.1;
}

.text-aboutme h3{
    font-weight: 600;
    margin-bottom: 15px;
    color: #131313;
    font: 10px ;
    margin: 0px 0px 15px;

}

.text-aboutme p {
    margin: 0px 0px 20px;
    margin-bottom: 20px;
    color: #181a1b;
    font-size: 20px;
    font-weight: 200;
}

.text-aboutme ul{
    list-style-type: none;
    display: flex;
    padding: 8px 0px ;
    margin: 9px -7px ;
}

.text-aboutme ul li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0px 10px ;
    width: 50px;
    height: 40px;
}

.button-resume{
    border: 4px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 13px 18px;
    width: 200px;
    text-decoration: none;
    text-transform: capitalize;
    color:Black;
    font-family: inherit;
    text-align: center;
}

.my-projects-about{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-family: 'Lato', sans-serif;
}

.value-about{
    font-family: 'Lato', sans-serif;
    margin:20px 0px 15px;
}

.value-about-info{
    margin:0px;
}

.about-projects{
    padding: 0px 15px;
}
