body{
    margin:0px;
    font-family: 'Lato', sans-serif;
}



#home:after {
    content: "" ;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#home {
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}

.home-navbar{
    padding-bottom: 40px 0px;
    position: relative;
    z-index: 2;
    font-family: inherit
}

.home-navbar-nav{
    font-family: inherit
}
.home-navbar-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: inherit
}

.home-navbar-nav ul li a {
    color:rgba(255, 255, 255, 0.71) ;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0px 10px ;
    font-family: inherit
}
.home-navbar-brand{
    font-family: inherit
}
.home-navbar-brand ul {
    text-decoration: none ;
    list-style-type: none;
}

.home-navbar-brand ul li a {
    color:rgba(255, 255, 255, 0.71) ;
    text-decoration: none;
    text-transform: capitalize;
    font-family: inherit
}

/* Home slider style */

.home-slider{
    height: 871px ;
}

.home-slider-item{
    height: calc(100% + 37px);
    position: relative;
    z-index: 4 ;
}

.home-slider-item-control  {
    width:20px;
    height: 20px;
    position: absolute ;
    bottom: 20px;
    left:50% ; 
    z-index: 4;
}

.home-slider-item-control a {
    color:white;
    text-decoration: none;
}
.home-slider-item-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-slider-item-content h1{
    color:white;
    font-size: 2.6em ;
    padding:13px 13px;
    margin: 0px ;
}


.home-slider-item-content p{
    color: rgba(82, 100, 101, 0.708);
    font-size: 1.45em ;
    margin: 0px ;
}

.home-slider-item-content img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;

}

/* Home slider style  end*/

/* About me style */
#about{
    padding:90px 0px 75px;
    font-family: 'Lato', sans-serif;
    color:black;
    background-color: white;
    line-height: 26px ;
}

.text-aboutme{
    color:rgb(65, 49, 49);
    margin: 0px;
}

.text-aboutme h2{
    font-size: 2.7em;
    margin-bottom: 20px;
    color: #131313;
    margin: 0px 0px 20px;
    margin-top: 0px ;
    font: 42px Arial;
    line-height: 1.1;
}

.text-aboutme h3{
    font-weight: 600;
    margin-bottom: 15px;
    color: #131313;
    font: 10px ;
    margin: 0px 0px 15px;

}

.text-aboutme p {
    margin: 0px 0px 20px;
    margin-bottom: 20px;
    color: #181a1b;
    font-size: 20px;
    font-weight: 200;
}

.text-aboutme ul{
    list-style-type: none;
    display: flex;
    padding: 8px 0px ;
    margin: 9px -7px ;
}

.text-aboutme ul li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0px 10px ;
    width: 50px;
    height: 40px;
}

.button-resume{
    border: 4px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 13px 18px;
    width: 200px;
    text-decoration: none;
    text-transform: capitalize;
    color:Black;
    font-family: inherit;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.my-projects-about{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-family: 'Lato', sans-serif;
    margin: 30px 70px;
}

.value-about{
    font-family: 'Lato', sans-serif;
    margin:20px 0px 15px;
}

.value-about-info{
    margin:0px;
}

.about-projects{
    padding: 0px 15px;
}

/* Aboute me style end*/

/*Skills style start*/

#skills{
    padding: 95px 0px 50px ;
    background-color: #f2f2f2; 
}
.skills-text{
    padding: 0px 15px;
}
.skills-text h2{
    text-align: center;
    bottom:50%;
    left:50%;
    font-weight: 300px;
    margin-bottom: 50px;
    margin: 0px 0px 50px;
}
.skills-content{
    padding: 0px 20px;
}

.skills-content-item{
    margin-bottom:50px;
    margin: 0px 0px 50px;
}
.skills-bar{
    border-radius: 25px ;
    height: 6px;
    width: 100%;
    background: gray;
    position: relative;
}

.skills-bar-fill{
    position: absolute;
    left: 0px;
    top: 0px;
    background: green;
    width: 87%;
    height: 6px;
    transition: width 2s;
    border-radius: 25px;
}

.skills-bar-fill-1{
    position: absolute;
    left: 0px;
    top: 0px;
    background: green;
    width: 52%;
    height: 6px;
    transition: width 2s;
    border-radius: 25px;
}


.skills-bar-fill-2{
    position: absolute;
    left: 0px;
    top: 0px;
    background: green;
    width: 96%;
    height: 6px;
    transition: width 2s;
    border-radius: 25px;
}


.skills-bar-fill-3{
    position: absolute;
    left: 0px;
    top: 0px;
    background: green;
    width: 77%;
    height: 6px;
    transition: width 2s;
    border-radius: 25px;
}


.skills-status{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*Skills style end*/

/*Portfolio style start*/

#portfolio{
    padding: 90px 0 80px;
    background: #fff;
}
.portfolio-text{

}
.portfolio-navbar-nav-background{
    background-color: black;
    border-radius: 11px;
}
.portfolio-text h2{
    text-align: center;
    margin: 0px 0px 20px;
}

.porftolio-navbar-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 30px 0px 35px;
    padding: 6px 10px;
}

.porftolio-navbar-nav ul li a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #131313;
    font-size: 1em;
    font-weight: 600;
    padding: 6px 17px;
    margin: 0 3px;
    font-family: 'Lato', sans-serif;
}
.picture-test{
    position: relative;
}
.picture-test img{
    width: 100%;
    height: 265px;
    object-fit: cover;
    display: block;
}



.portfolio-pictures-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    margin: 0px 20px;
}
/*Portfolio style end*/

/* Services style start */
#services{
    padding: 95px 0 65px;
    background: #f2f2f2;
}

.services-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.services-item{
    padding: 30px 50px 30px 0px;
}

.services-item p{
    padding: 0px;
    margin: 0px;
}

.services-item h4{
    margin: 0px 0px 15px;
}

.services-item i {
    margin-bottom: 20px;
}
/* Services style end */

/* Hire me style start */
#hire {
    padding: 95px 0 90px;
    background: #fff;
}

#hire p{
    width: 30em;
    max-width: 100%;
}
.hire-button{
    float: right;
}

.hire-button{
    background-color:black;
    border-radius: 12px;
    padding: 13px 18px;
    width: 200px;
    text-decoration: none;
    text-transform: capitalize;
    color:rgb(255, 255, 255);
    font-family: inherit;
    text-align: center;
    display: inline-block;
    margin-top: 10%;
}
/* Hire me style end */
